<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Add a library book</title>
</head>
<body>
    <h1>Add a book to the library</h1>
    <form action="/savebook" method="post" th:object="${aBook}" >
        <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></p>

        <input type="hidden" th:field="*{id}">

        <label for="title">Enter a title</label>
        <input type="text" th:field="*{title}">
        <label for="yearPub">Enter a Year of Publication</label>
        <input type="text" th:field="*{yearPub}">

        <p th:if="${#fields.hasErrors('authorEmail')}" th:errors="*{authorEmail}"></p>
        <label for="authorEmail">Author's email</label>
        <input type="text" th:field="*{authorEmail}">

        <button type="submit">Add book</button>


    </form>
</body>
</html>